.input {
  margin-top: 1rem;
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  background-color: transparent;
  color: white;
  border: 0;
  border-bottom: 5px solid rgba(255, 255, 255, 0.685);
  border-radius: 2px;
  transition: border-bottom 100ms;
  text-align: center;
}

.input:focus-within {
  border-bottom: 5px solid rgb(116, 192, 252);
  transition: border-bottom 100ms;
  border-radius: 2px;
  outline: none;
}
